body, .AlienPad {
	background-color: #000000;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display:  inline-block;
}

@keyframes alien30 {
	from {
       		 background-position: 0px 0px ; 
        }
	to {
		background-position: -56px 0px; 
	}

}

@keyframes alien20 {
	from {
       		 background-position: 0px 0px ; 
        }
	to {
		background-position: -56px 0px; 
	}

}

@keyframes alien10 {
	from {
       		 background-position: 0px -24px ; 
        }
	to {
		background-position: -56px -24px; 
	}

}

.Alien{
	 background: url(sprite.png);
	 
         background-repeat: no-repeat;
}

.Alien10{
	 /*animation: alien10 1s infinite steps(2);*/
	 width:30px;
	 height:24px;
       	background-position: 0px -20px ; 
 }

.Alien20{
	 animation: alien20 1s infinite steps(2);
	 width:28px;
	 height:24px;
}

.Alien30{
	 animation: alien30 1s infinite steps(2);
}
